<header class="mdl-layout__header mdl-color--primary mdl-color-text--white-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Record sales</span>
          <div class="mdl-layout-spacer"></div>
        </div>
</header>